# Dataset
datasets/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Large ML model files
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db